/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-12-2017, 02:57:37
    Author     : lene_
*/

#tagknap{
    width: 250px;
}

input{
/*    width: 250px;*/
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
}

.input-login{
    width: 250px;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: auto;
}

.submit-login{
    width: 125px;
    background-color: dodgerblue;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 4px;
    
}
.submit-order{
    width: 125px;
    background-color: navy;
    color: white;
    padding: 5px 5px;
}

table td{
    padding: 2px 15px;
}
table th {
    text-align: center;
    padding: 2px 15px;
}



/*footer{
    position: fixed;
    bottom: 0;
}*/